@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{

    background-color: hsl(30, 38%, 92%);
    font-family: "roboto", sans-serif;
    font-size: 16px; /*cambia el tamaño de la letra*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}
main{
    
    width: 800px;
    height: 6500px;
    display:flex;
    align-items: center;
    border-radius: 14px;
    overflow: hidden;
    padding: 28px;
    gap: 7px;
}

.bordes{
    background-color: hsl(0, 0%, 100%);
    display:flex;
    border: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.imagen{
    
    
    background-color: hsl(0, 0%, 100%);
    margin: 14px;
    width: 235px;
    height: 350px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    overflow: hidden;
    gap: 14px;
    padding: 7px;
    

}
.informacion{

    border:0px;
    margin-top: 3%;
    margin-bottom: -3%;    
    width: 350px;
    height: 350px;
    background-color: hsl(0, 0%, 100%);
    padding: 24px;
    display: flex;
    flex-direction:column;
    gap: 7px;
    overflow: hidden;
    
}
.informacion h1{

    margin: 0px;
    font-family: "Roboto", serif;
    font-size: 32px;
    line-height: 1;
    align-self: center;
    color:hsl(212, 21%, 14%);
    
    
}
.informacion p{
    margin: 0px;
    font-size: 14px;
    align-self:normal;
    line-height: 2;
    color:hsl(228, 12%, 48%);
    
}

.informacion button{
    border: 0px;
    font-family: "montserrat", sans-serif;
    background-color:hsl(234, 29%, 20%);
    color:white;
    padding: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
    gap: 14px;
}

.informacion h6{

    border: 0pz;
    padding: 0px;
    gap: 7px;
    display: flex;
    border-radius: 0px;
    flex-direction: column;
   

    }

.informacion li{
    color:hsl(212, 21%, 14%);
    list-style-image: url(./assets/images/icon-list.svg);
    font-family: "roboto" ,sans-serif;
    font-size: 14px;
    gap: 14px;
}

.pagina2{
    border:0px;
    width: 250px;
    height: 250px;
    background-color: hsl(0, 0%, 100%);
    padding: 32px;
    display: flex;
    flex-direction:column;
    gap:7px;
    overflow: hidden;
    border-radius: 32px;
}
.pagina2 li{
    list-style-image: url(./assets/images/icon-list.svg);
    size: px;   
}
.pagina2 h1{
    margin: 0px;
    font-family: "Roboto", serif;
    font-size: 32px;
    line-height: 1;
    align-self: left;
    color:hsl(212, 21%, 14%);
}

.pagina2 button{
    border: 0px;
    font-family: "Roboto", sans-serif;
    background-color:hsl(4, 100%, 67%);
    color:white;
    padding: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
    gap: 14px;
}
.pagina2 p{
    font-family: "roboto", sans-serif;
    font-size: 12px;
}
